@{
	Layout = null;
}

<!DOCTYPE html>

<link rel="icon" href="~/Images/newfavicon.png">
<title>HW Budget API</title>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<html>
<body>
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="~/swagger">
				<img src="~/Images/logo.jpg" />
			</a>
		</div>
	</div>

</body>
</html>